<form {{on "submit" this.submit}} ...attributes>
  <h1>Article</h1>
  <label for="99816110-6d02-4a74-a6e0-3a49abe6a7da"></label>
  <input name="title" id="99816110-6d02-4a74-a6e0-3a49abe6a7da" type="text" {{on "change" (fn this.updateValue "title")}} value={{changeset-get @changeset "title"}}/>
  <label for="96772210-3b09-4cbb-bc7e-28ad7ef9fa5d"></label>
  <textarea name="description" id="96772210-3b09-4cbb-bc7e-28ad7ef9fa5d" {{on "change" (fn this.updateValue "description")}} value={{changeset-get @changeset "description"}}/>

  <hr>
  <h2>Image</h2>
  {{#let (changeset-get @changeset "image") as |image|}}
    {{!-- If image is undefined, creates an empty changeset, NOTE : maybe move to component ? --}}
    <Forms::Images @changeset={{changeset (if image image (hash)) this.ImagesValidation}} @saveFunction={{this.saveImage}} />
  {{/let}}
  <hr>

  <button type="button" {{on "click" this.toggleCommentModal}}>{{if this.isAddingComment "Cancel" "Add comment"}}</button>
  {{!-- Simulate modal --}}
  {{#if this.isAddingComment}}
    <Forms::Comments @changeset={{changeset (hash) this.CommentsValidation}} @saveFunction={{fn this.createComment @changeset}} />
  {{/if}}

  <hr>
  <h2>Commentaires</h2>
  {{#each (changeset-get @changeset "comments") as |comment|}}
    <Forms::Comments @changeset={{changeset comment this.CommentsValidation}} @saveFunction={{fn @editComment @changeset}} />
  {{else}}
    <p>There's no comments</p>
  {{/each}} 
  <button type="submit" disabled={{@changeset.isInvalid}}>submit</button>

<ChangesetErrors @changeset={{@changeset}}  />
</form>