<form {{on "submit" this.submit}} ...attributes>
 
  <label for="9fezfze0">Image name</label>
  <input name="name" id="9fezfze0" type="text" {{on "change" (fn this.updateValue "name")}} value={{changeset-get @changeset "name"}}/>

  <FileUpload @name="avatar"
              @accept="image/*"
              @onFileAdd={{this.setFile}}>
    {{#if (changeset-get @changeset "url")}}
      <span  id="upload-avatar" >Change photo</span>
      <img width="64" height="64" src="{{changeset-get @changeset "url"}}" alt="" role="presentation">
    {{else}}
      <span id="upload-avatar">Add a photo of yourself</span>
    {{/if}}
  </FileUpload>

  <button type="submit" disabled={{@changeset.isInvalid}}>submit</button>

  <ChangesetErrors @changeset={{@changeset}}  />
</form>